* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1rem;
}

body{
    background: linear-gradient(130.02deg, #628e75 0.66%, #1a4855 83.32%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header nav ul{
    display: flex;
    gap: 50px;
}

header ul li img {
    transition: transform .4s ease;
}

header ul li:hover img {
    transform: translateY(-4px);
}

main {
    flex: 1;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
}
main #conteudo #titulo{
    width: 100%;
}

main #conteudo p{
    padding: 50px 0px;
    font-weight: 400;
    line-height: 28.8px;
    max-width: 43ch;
}

main #conteudo div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0px;
}

main #conteudo div a{
    border: 4px solid #658e76;
    padding: 10px 20px;
    /*responsável por inclinar o botão*/
    transform: skew(-24deg);
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: -7px 8px 8px 1px rgba(0 0 0 /15%);
    transition: background .5s ease;
}
main #conteudo div a:hover {
    cursor: pointer;
    background-color: #658e76;
    color: #fff;
} 
main #conteudo div a span {
    /*responsável por desinclinar o texto*/
    transform: skew(24deg);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #c3c3c3;
    transition: color .5s ease;
}
main #conteudo div a:hover span{
    color: #fff;
}
main #animacao{
    width: 100%;
}
main #animacao img{
    animation: float 3s ease-in-out infinite;
    width: 100%;
}

@keyframes float{
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
}


@media (max-width: 900px) {
    header{
        padding: 20px 20px 0px 20px;
    }

    #animacao{
        grid-row: 1;
        margin: 0 auto;
        width: 50%;
    }

    #titulo{
        width: 50%;
    }

}

@media (max-width: 650px){
    header{
        padding: 20px 20px 0px 20px;
    }

    header nav ul{
        gap: 20px;
    }
    #animacao{
        grid-row: 1;
        width: 80%;
    }

    main #conteudo #titulo{
        width: 80%;
    }

    main #conteudo p{
        padding: 10px 0px;
        font-size: .8rem;
        font-weight: 400;
        line-height: 28.8px;
    }

    main #conteudo div{
        justify-content: center;
        padding: 10px 0px;
    }
}
@media (max-width: 420px){
    body{
        height: 100%;
    }
    main{
        grid-template-columns: 1fr;
    }
}